*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;

}

.container{
    display: flex;
    height: 100vh;
    
}


/*Listado menu*/

.col1{
    width: 20%;
    background: black;
    color: white;

}

ul{
    padding-top: 30px;
    
}

li{
    display: flex;
    color: white;
    padding-left:5vh ;
    
}

li:hover{
    opacity: 50%;
}

/*Textos*/
.col2{
    width: 80%;
}

.art1,  .art2, .art3, .art4{
    height: 25vh;
    color: white;
    text-align: start;
    padding: 5vh;
    box-sizing: border-box;
}

.art1{
    background-color:aquamarine;
    
}

.art2{
    background-color:yellow;
}

.art3{
    background-color:orange;
}

.art4{
    background-color:red;
}

